/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    /* padding: 0 20px; */
}

.btn {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

/* Header */
header {
    background: white;
    padding: 20px 0;
    font-size: 18px;
}
header h1{
    font-size: 18px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: #6b7280;
    font-weight: bold;
}
nav a:hover {
    color: #5A67D8;
}

/* Hero Section */
.overview-hero {
    background: #E2E8F0;
}
.overview-hero .container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}
.overview-hero-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

/* Learn About Section */
.learn-about {
    padding: 40px 0;
}
.learn-about h2 {
    font-size: 24px;
    color: #48BB78;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}
.card {
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-bottom: 10px;
}
.card-body {
    margin-top: 10px;
}
.card-body h3 {
    color: #48BB78;
    font-size: 21px;
}

/* Testing Section */
.testing {
    background: #4A5568;
}
.testing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    color: white;
}
.testing .container .cta{
    text-wrap-mode: nowrap;
}
.testing .btn {
    background: #48BB78;
    border-radius: 5px;
}

/* Stories */
.stories h2 {
    color: #5A67D8;
}
.stories article {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.stories img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.stories h3 {
    font-size: 18px;
}
.stories a {
    color: #5A67D8;
}

/* Newsletter */
.newsletter {
    text-align: center;
    padding: 50px 0;
    background: #48BB78;
    color: white;
}
.newsletter .btn {
    background: #5A67D8;
}
form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
input[type="email"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: #4A5568;
    color: white;
    margin-top: 40px;
}
